// @import "~edgrid";

// @import "~edteam-style-guides/edteam-style-guides";

body {
  background-color: white;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    background-color: white;
    max-width: 280px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);

    &-header {
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &-body {
      padding: 10px;
      text-align: center;

      .card-price {
        border-radius: 5px;
        border: 1px solid royalblue;
        color: royalblue;
        display: inline-block;
        padding: 5px;
        text-align: center;
      }
    }
  }
}
